@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto);

html, body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}

.header {
  text-align: center;
  padding: 24px;
  background: #EFFCF0;
}

.title {
  font: 36px Raleway, Roboto, Arial, sans-serif; 
  color: #3D3D3D;
}

.subtitle {
  font: 24px Raleway, Roboto, Arial, sans-serif;
  color: #636363;
}

.main {
  flex: 1;
  text-align: center;
}

.footer {
  background: #EFFCF0;
  padding: 24px;
}
